<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="gearsystem_system" values="Auto|Master System / Mark III|Game Gear|SG-1000 / Multivision" default="Auto"/>
		<setting label="30002" type="select" id="gearsystem_region" values="Auto|Master System Japan|Master System Export|Game Gear Japan|Game Gear Export|Game Gear International" default="Auto"/>
		<setting label="30003" type="select" id="gearsystem_mapper" values="Auto|ROM|SEGA|Codemasters|Korean|MSX|Janggun|SG-1000" default="Auto"/>
		<setting label="30004" type="select" id="gearsystem_timing" values="Auto|NTSC (60 Hz)|PAL (50 Hz)" default="Auto"/>
		<setting label="30005" type="select" id="gearsystem_bios_sms" values="Disabled|Enabled" default="Disabled"/>
		<setting label="30006" type="select" id="gearsystem_bios_gg" values="Disabled|Enabled" default="Disabled"/>
		<setting label="30007" type="select" id="gearsystem_glasses" values="Both Eyes / OFF|Left Eye|Right Eye" default="Both Eyes / OFF"/>
		<setting label="30008" type="select" id="gearsystem_up_down_allowed" values="Disabled|Enabled" default="Disabled"/>
	</category>
</settings>
